.sidebar {
    min-width: 15% !important;
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;
  
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6A2FF9;
      }
    }
  
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  
    .center {
      padding-left: 0px;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 16px 40px;
          cursor: pointer;
          
          &:hover, &.active {
            background-color: #F0F0F0;
            span{
              color:#AD8FF4;
            }
            .icon{
              color:#AD8FF4;
            }
          }
  
          .icon {
            font-size: 18px;
            color: #888;
          }
  
          span{
              font-size: 15px;
              font-weight: 600;
              color: #888;
              margin-left: 10px;
          }
          
        }
      }
    }
  
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
  
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #6A2FF9;
            cursor: pointer;
            margin: 5px;
  
            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }
  }
.sidebar-width{
    width: 20%;
    margin: 1em 0 0 0 !important;
}  