.brand-text {
    margin-left: 4rem;
    margin-top: -3.2rem;
    font-weight: 700;
  }
  .nav-link {
    margin: 20px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 1rem;
  }
  .nav-link:hover,
  .nav-link:focus {
    background-color: #fefefe;
    color: #212529 !important;
    border-radius: 1rem;
  }
  .status-icon{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: #c0c0c0;
    bottom: 5px;
    right: 10px;
    display: block;
    border: 2px solid #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
    border-radius: 50%;
    background-color: #38b653;
}
.flex-align-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  a{
    margin: 0.5em;
    padding: 0.5em;
    div{
      a{
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
}
.logoPng{
  max-width: 10vh;
}